<form action="/products" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="product_name">Name</label>
  <input id="product_name" type="text" name="product[name]">
  <br>
  <label for="product_description">Description</label>
  <input id="product_description" type="text" name="product[description]">
  <br>
  <label for="product_price">Price</label>
  <input id="product_price" type="number" name="product[price]">
  <br>
  <label for="product_volume">Volume</label>
  <input id="product_volume" type="number" name="product[volume]">

  <input type="submit">
</form>