<h1>Editing product</h1>

<%= render 'form' %>

<br>
<button type="button" class="btn btn-link">
  <%= link_to '<< Back', products_path %>
</button>
|<button type="button" class="btn btn-link">
  <%= link_to 'Show', @product %>
</button>
